DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_database_password
TELEGRAM_BOT_TOKEN=dummy_token_for_lecture_review
ADMIN_CHAT_ID=your_admin_chat_id

# 🔐 የሪሴፕሽን እና አድሚን መግቢያ ፓስዎርዶች
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
RECEPTION_USERNAME=reception
RECEPTION_PASSWORD=recep123123